@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './variables.css';
@import './md-editor.css';

@source '../../../../**/*.{html,js,ts,vue,tsx,jsx}';

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
    .border,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        border-color: var(--theme-border);
    }
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #454545;
}

*::-webkit-scrollbar-track {
    background: transparent;
}


.app-thin-scrollbar::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}
